body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.logofaixa {
  width: 203px;
  height: 100px;
  margin-left: 50px;
}
.login-b {
  background-color: rgb(141, 16, 214);
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 60px;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  
}
form#indexForm .img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1; 
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.1;
  z-index: -1;
  width: 1920px;
  height: 700px;

}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 2px 100px;
  border: 5px solid rgb(141, 16, 214);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(141, 16, 214);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
}

.login-btn {
  float: inline-start;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 140px;
  background-color: rgb(141, 16, 214);
  border-radius: 6px;
  border: #ccc;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

.btn-reset {
  float: inline-end;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 140px;
  background-color: rgb(141, 16, 214);
  border-radius: 6px;
  border: #ccc;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.login-btn:hover {
  background-color: rgb(141, 16, 214);
}

.btn-reset:hover {
  background-color: rgb(141, 16, 214);
}

.error {
  color: #fff;
  background-color: #e74c3c;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url('../Imagem/fundopp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #222;
  color: #eee;
  padding: 20px 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.footer a {
  color: #58a6ff;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
}
.register{
  text-decoration: none;
}